<!-- model add user -->
<div [hidden]="!isAdmin()" class="modal draggable fade bd-example-modal-lg" id="deleteUserModal" tabindex="-1"
  role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Delete User {{username}} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="delete-user-close">Close</button>
        <button type="button" (click)="deleteUser()" class="btn btn-primary">Delete</button>

      </div>
    </div>
  </div>
</div>